header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

header {
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.main-nav a {
  font-size: 1.25rem;
  color: #0d6efd;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.card {
  padding: 0;
}

.welcome-banner {
  margin-bottom: 3.5rem;
}
.welcome-banner .user-name {
  text-transform: capitalize;
}

.blog-group {
  padding-bottom: 3.5rem;
  border-bottom: 1px dashed #aaa;
}
.blog-group .alert.hide,
.books-group .alert.hide,
.login-group .alert.hide,
.signup-group .alert.hide {
  display: none;
}

.entry-list .entry {
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  padding: 0.4rem;
  display: flex;
  align-items: center;
}
.entry-list .entry h4 {
  margin-bottom: 0;
}
.entry-list .entry h4 a {
  text-decoration: none;
}
.entry-list .entry .col-md-4 {
  text-align: right;
}
@media screen and (min-width: 360px) {
  .card {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
