/* Style for the navbar logo */
.navbar-brand-logo {
  display: flex;
  align-items: center;
}

.navbar-brand-logo img {
  height: 50px; /* Adjust as needed */
  margin-right: 10px;
}

.navbar-brand-logo .logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #2C3E50;
  text-transform: uppercase;
}

.navbar-brand-logo .logo-subtext {
  font-size: 14px;
  color: #95A5A6;
  font-weight: lighter;
}
