header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
header {
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.main-nav a {
  font-size: 1.25rem;
  color: #0d6efd;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.card {
  padding: 0;
}

@media screen and (min-width: 360px) {
  .card {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
